apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "renku.notebooks.fullname" . }}-k8s-watcher
  labels:
    app: {{ template "renku.notebooks.name" . }}-k8s-watcher
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  {{- if not .Values.notebooks.k8sWatcher.autoscaling.enabled }}
  replicas: {{ .Values.notebooks.k8sWatcher.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ template "renku.notebooks.name" . }}-k8s-watcher
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        # NOTE: Without this the pod will not restart when the secret values change.
        checksum/config: {{ include (print $.Template.BasePath "/notebooks/env-secret.yaml") . | sha256sum }}
      labels:
        app: {{ template "renku.notebooks.name" . }}-k8s-watcher
        chart: {{ template "renku.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
      {{- with .Values.notebooks.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ if .Values.notebooks.rbac.create }}"{{ template "renku.notebooks.fullname" . }}"{{ else }}"{{ .Values.notebooks.rbac.serviceAccountName }}"{{ end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: k8s-watcher
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.notebooks.k8sWatcher.image.repository }}:{{ .Values.notebooks.k8sWatcher.image.tag }}"
          imagePullPolicy: {{ .Values.notebooks.k8sWatcher.image.pullPolicy }}
          env:
            - name: K8S_WATCHER_CR_GROUP
              value: {{ .Values.amalthea.crdApiGroup }}
            - name: K8S_WATCHER_CR_VERSION
              value: {{ .Values.amalthea.crdApiVersion }}
            - name: K8S_WATCHER_CR_PLURAL
              value: {{ .Values.amalthea.crdNames.plural }}
            - name: K8S_WATCHER_AMALTHEA_SESSION_GROUP
              value: amalthea.dev
            - name: K8S_WATCHER_AMALTHEA_SESSION_VERSION
              value: v1alpha1
            - name: K8S_WATCHER_AMALTHEA_SESSION_PLURAL
              value: amaltheasessions
            - name: K8S_WATCHER_SHIPWRIGHT_BUILDRUN_GROUP
              value: shipwrong.io
            - name: K8S_WATCHER_SHIPWRIGHT_BUILDRUN_VERSION
              value: v1beta1
            - name: K8S_WATCHER_SHIPWRIGHT_BUILDRUN_PLURAL
              value: buildruns
            - name: K8S_WATCHER_TEKTON_TASKRUN_GROUP
              value: tekton.dev
            - name: K8S_WATCHER_TEKTON_TASKRUN_VERSION
              value: v1
            - name: K8S_WATCHER_TEKTON_TASKRUN_PLURAL
              value: taskruns
            - name: K8S_WATCHER_NAMESPACES
              {{ if .Values.notebooks.sessionsNamespace }}
              value: {{ list .Release.Namespace .Values.notebooks.sessionsNamespace | uniq | toJson | quote }}
              {{ else }}
              value: {{ (list .Release.Namespace) | toJson | quote }}
              {{ end }}
            - name: K8S_WATCHER_PORT
              value: "8080"
            - name: K8S_WATCHER_USER_ID_LABEL
              value: renku.io/safe-username
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          startupProbe:
            httpGet:
              path: /health
              port: http
            failureThreshold: 60
            periodSeconds: 10
          resources:
            {{- toYaml .Values.notebooks.k8sWatcher.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
