*           @SwissDataScienceCenter/renku-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/charts/    @SwissDataScienceCenter/kartografen
