version: 2
updates:
  - package-ecosystem: "pip"
    directories:
      - "scripts/init-realm"
      - "acceptance-tests/"
      - "global-images/**"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "python-keycloak"
        # I would like to replace this with "version-update:semver-patch",  "version-update:semver-minor"
        # but just want to test this first...
        update-types: ["version-update:semver-patch"]
    groups:
      python:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      gh-actions:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "docs/"
    schedule:
      interval: "weekly"
