# -*- coding: utf-8 -*-
#
# Copyright 2017 Swiss Data Science Center
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

sudo: true
dist: xenial

notifications:
  email: false

sudo: required

services:
  - docker

branches:
  only:
    - master

language: python

matrix:
  fast_finish: true

python:
  - "3.6"

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libfop-java libbatik-java graphviz
  - wget http://security.ubuntu.com/ubuntu/pool/universe/p/plantuml/plantuml_8039-1_all.deb
  - sudo dpkg -i plantuml_8039-1_all.deb
  - pip install -r requirements-test.txt

install:
  - ./travis-install.sh
  - pip install Sphinx>=1.6.3
  - pip install -r docs/requirements.txt

before_script:
  - docker-compose up -d
  - travis_retry ./wait-for-services.sh

script:
  - pytest -v
  - sphinx-build -qnNW docs docs/_build/html
