[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"urllib3" = ">=1.24.2"
"jinja2" = ">=2.10.1"
chartpress = "==0.7.0"
kubernetes = "*"

[dev-packages]
docker = ">=2.4.2"
httpwatcher = "*"
ipython = ">=6.2.0"
plantweb = ">=1.0"
pyenchant = ">=1.6.11"
pytest = ">=3.2.1"
pytest-splinter = ">=1.8.5"
python-dotenv = ">=0.8.2"
renku-sphinx-theme = ">=0.1.0"
requests = ">=2.20.0"
rerun = "*"
Sphinx = ">=1.8.0"
sphinxcontrib-spelling = ">=2.3.0"
sphinxcontrib-websupport = ">=1.0.1"
splinter = "*"
black = "*"
sphinx-rtd-theme = "==0.5.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
