[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chartpress = {git = "https://github.com/SwissDataScienceCenter/chartpress"}
"urllib3" = ">=1.24.2"
"jinja2" = ">=2.10.1"

[dev-packages]
ipython = ">=6.2.0"
plantweb = ">=1.0"
pyenchant = ">=1.6.11"
renku-sphinx-theme = ">=0.1.0"
sphinxcontrib-spelling = ">=2.3.0"
sphinxcontrib-websupport = ">=1.0.1"
pytest = ">=3.2.1"
splinter = "*"
docker = ">=2.4.2"
python-dotenv = ">=0.8.2"
pytest-splinter = ">=1.8.5"
requests = ">=2.20.0"
Sphinx = "==1.8.0"
rerun = "*"
httpwatcher = "*"

[requires]
python_version = "3"
