# NOTE: Any resource requests and replica counts here are used only for development and testing purposes
# and likely will not be able to support more than 5 concurrent users.
# Therefore the resource requests, limits, replica counts here and are NOT SUITABLE FOR PRODUCTION.
---
authz:
  resources:
    limits:
      memory: 75Mi
    requests:
      cpu: 50m
      memory: 75Mi
dataService:
  dataTasks:
    resources:
      limits:
        memory: 250Mi
      requests:
        cpu: 50m
        memory: 250Mi
  k8sWatcher:
    resources:
      limits:
        memory: 200Mi
      requests:
        cpu: 20m
        memory: 200Mi
  resources:
    limits:
      memory: 750Mi
    requests:
      cpu: 50m
      memory: 750Mi
  replicaCount: 1
enableInternalGitlab: false
enableV1Services: false
gateway:
  replicaCount: 1
gitlab:
  enabled: false
global:
  anonymousSessions:
    enabled: true
  gateway:
    gitlabClientId: <gitlabClientId>
    gitlabClientSecret: <gitlabClientSecret>
  gitlab:
    registry:
      host: <gitlab-registry-FQDN>
    url: <gitlab-url>
  renku:
    domain: <deployment-FQDN>
  useHTTPS: true
  redis:
    port: 6379
    host: renku-redis-master
    sentinel:
      enabled: false
ingress:
  className: webapprouting.kubernetes.azure.com
  enabled: true
  hosts:
    - <deployment-FQDN>
  tls:
    - hosts:
        - <deployment-FQDN>
      secretName: <certificate-secret-name>
keycloakx:
  resources:
    requests:
      memory: 600Mi
    limits:
      memory: 600Mi
notebooks:
  oidc:
    allowUnverifiedEmail: true
  sessionAffinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: renku.io/node-purpose
                operator: In
                values:
                  - user
  sessionIngress:
    className: webapprouting.kubernetes.azure.com
  sessionTolerations:
    - effect: NoSchedule
      key: renku.io/dedicated
      operator: Equal
      value: user
postgresql:
  primary:
    resources:
      limits:
        memory: 300Mi
      requests:
        memory: 300Mi
  # Use Bitnami's PostgreSQL image from Renkulab Harbor registry
  image:
    registry: harbor.renkulab.io
    repository: bitnami-mirror/postgresql
redis:
  architecture: standalone
  master:
    persistence:
      enabled: false
  metrics:
    # Use the bitnami metrics image from the Renkulab Harbor registry
    image:
      registry: harbor.renkulab.io
      repository: bitnami-mirror/redis-exporter
  sentinel:
    enabled: false
    # Use Bitnami's Redis Sentinel image from Renkulab Harbor registry
    image:
      registry: harbor.renkulab.io
      repository: bitnami-mirror/redis-sentinel
  # Use Bitnami's Redis image from Renkulab Harbor registry
  image:
    registry: harbor.renkulab.io
    repository: bitnami-mirror/redis
secretsStorage:
  resources:
    limits:
      memory: 500Mi
    requests:
      cpu: 50m
      memory: 500Mi
solr:
  resources:
    limits:
      memory: 400Mi
    requests:
      cpu: 50m
      memory: 400Mi
  # Use Bitnami's Solr image from Renkulab Harbor registry
  image:
    registry: harbor.renkulab.io
    repository: bitnami-mirror/solr
ui:
  client:
    resources:
      limits:
        memory: 150Mi
      requests:
        cpu: 10m
        memory: 150Mi
  server:
    resources:
      limits:
        memory: 75Mi
      requests:
        memory: 75Mi
