---
enableV1Services: false
gitlab:
  enabled: false
global:
  anonymousSessions:
    enabled: true
  gateway:
    gitlabClientId: <gitlabClientId>
    gitlabClientSecret: <gitlabClientSecret>
  gitlab:
    registry:
      host: <gitlab-registry-FQDN>
    url: <gitlab-url>
  renku:
    domain: <deployment-FQDN>
  useHTTPS: true
  redis:
    port: 6379
    host: renku-redis-master
    sentinel:
      enabled: false
ingress:
  className: webapprouting.kubernetes.azure.com
  enabled: true
  hosts:
    - <deployment-FQDN>
  tls:
    - hosts:
        - <deployment-FQDN>
      secretName: <certificate-secret-name>
notebooks:
  oidc:
    allowUnverifiedEmail: true
  sessionAffinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: renku.io/node-purpose
                operator: In
                values:
                  - user
  sessionIngress:
    annotations:
      kubernetes.io/ingress.class: webapprouting.kubernetes.azure.com
  sessionTolerations:
    - effect: NoSchedule
      key: renku.io/dedicated
      operator: Equal
      value: user
redis:
  architecture: standalone
  master:
    persistence:
      enabled: false
  sentinel:
    enabled: false
