[submodule "graph-core"]
	path = graph-core
	url = git@github.com:SwissDataScienceCenter/graph-core.git
[submodule "graph-typesystem"]
	path = graph-typesystem
	url = git@github.com:SwissDataScienceCenter/graph-typesystem.git
[submodule "graph-mutation"]
	path = graph-mutation
	url = git@github.com:SwissDataScienceCenter/graph-mutation.git
[submodule "graph-navigation-service"]
	path = graph-navigation-service
	url = git@github.com:SwissDataScienceCenter/graph-navigation-service.git
[submodule "graph-init"]
	path = graph-init
	url = git@github.com:SwissDataScienceCenter/graph-init.git
