apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "renku.graph.eventLog.fullname" . }}
  labels:
    app: {{ template "renku.graph.eventLog.name" . }}
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ template "renku.graph.eventLog.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "renku.graph.eventLog.name" . }}
        release: {{ .Release.Name }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        {{- include "certificates.initContainer" . | nindent 8 }}
      containers:
        - name: event-log
          image: "{{ .Values.graph.eventLog.image.repository }}:{{ .Values.graph.eventLog.image.tag }}"
          imagePullPolicy: {{ .Values.graph.eventLog.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          env:
            - name: EVENT_LOG_POSTGRES_HOST
              value: "{{ template "postgresql.fullname" . }}"
            - name: EVENT_LOG_POSTGRES_PORT
              value: "5432"
            - name: EVENT_LOG_POSTGRES_USER
              value: {{ .Values.global.graph.dbEventLog.postgresUser }}
            - name: EVENT_LOG_POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  {{- if .Values.global.graph.dbEventLog.existingSecret }}
                  name: {{ tpl .Values.global.graph.dbEventLog.existingSecret . }}
                  {{- else }}
                  name: {{ template "renku.fullname" . }}-graph-db-postgres
                  {{- end }}
                  key: graph-dbEventLog-postgresPassword
            - name: EVENT_LOG_POSTGRES_CONNECTION_POOL
              value: "{{ .Values.graph.eventLog.connectionPool }}"
            - name: EVENT_LOG_BASE_URL
              value: "http://{{ template "renku.graph.eventLog.fullname" . }}:{{ .Values.graph.eventLog.service.port }}"
            - name: GITLAB_BASE_URL
              value: {{ .Values.graph.gitlab.url }}
            - name: GITLAB_RATE_LIMIT
              value: {{ .Values.graph.eventLog.gitlab.rateLimit }}
            - name: SENTRY_ENABLED
              value: "{{ .Values.graph.sentry.enabled }}"
              {{- if .Values.graph.sentry.enabled }}
            - name: SENTRY_DSN
              value: {{ .Values.graph.sentry.dsn }}
            - name: SENTRY_ENVIRONMENT
              value: {{ .Values.graph.sentry.environment }}
              {{- end }}
            - name: WEBHOOK_SERVICE_BASE_URL
              value: "http://{{ template "renku.graph.webhookService.fullname" . }}:{{ .Values.graph.webhookService.service.port }}"
            - name: TRIPLES_GENERATOR_BASE_URL
              value: "http://{{ template "renku.graph.triplesGenerator.fullname" . }}:{{ .Values.graph.triplesGenerator.service.port }}"
            - name: TOKEN_REPOSITORY_BASE_URL
              value: "http://{{ template "renku.graph.tokenRepository.fullname" . }}:{{ .Values.graph.tokenRepository.service.port }}"
            - name: JAVA_OPTS
              value: -Xmx{{ .Values.graph.eventLog.jvmXmx }} -XX:+UseG1GC
          ports:
            - name: http-event-log
              containerPort: 9005
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http-event-log
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /ping
              port: http-event-log
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          resources:
            {{- toYaml .Values.graph.eventLog.resources | nindent 12 }}
          volumeMounts:
            {{- include "certificates.volumeMounts.javaCertsGeneral" . | nindent 12 }}
      volumes:
        {{- include "certificates.volumes" . | nindent 8 }}
  {{- with .Values.nodeSelector }}
nodeSelector:
  {{ toYaml . | indent 8 }}
  {{- end }}
  {{- with .Values.affinity }}
affinity:
  {{ toYaml . | indent 8 }}
  {{- end }}
  {{- with .Values.tolerations }}
tolerations:
  {{ toYaml . | indent 8 }}
  {{- end }}
