#
# Configuration file for deploying the renku chart on minikube
#

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: false
  hosts:
  - ""

global:
  gitlab:
    urlPrefix: /gitlab

gitlab:
  ssh:
    externalPort: 30022
    nodePortService:
      enabled: true
      nodePort: 30022
  registry:
    enabled: true
    exposedAs: NodePort
  demoUserIsAdmin: true

notebooks:
  jupyterhub_base_url: /jupyterhub/
  jupyterhub_api_token: notebookstoken
  securityContext:
    enabled: false

  jupyterhub:
    rbac:
      enabled: true
    hub:
      cookieSecret: 7c232b97bda321be7e59b9834dfadbb89652da1e0150dff9b3dadb9aa8b4caab
      baseUrl: '/jupyterhub/'
      db:
        type: postgres
        url: postgres+psycopg2://jupyterhub:jupyterhub@renku-postgresql:5432/jupyterhub
      services:
        notebooks:
          api_token: notebookstoken
    proxy:
      secretToken: f89ddee5ba10f2268fcefcd4e353235c255493095cd65addf29ebebf8df86255
    auth:
      state:
        enabled: true
        cryptoKey: 86282f03d9886a64a46ee38f946e9ee27a600df4559584eeb90d0bfbd5a3dc0e
      type: gitlab
      gitlab:
        clientId: jupyterhub
        clientSecret: dummy-secret
        callbackUrl: '""' # Forces the default callback url

runner:
  enabled: true
