/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  background-color: #01192d;
  background-image: url("dots.svg");
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner :global(.hero__title),
.heroBanner :global(.hero__subtitle) {
  color: var(--ifm-color-gray-0);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
