.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  color: #006E58;
}

.featureSvgSmall {
  height: 100px;
  width: 100px;
  color: #006E58;
}

