---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "renku.fullname" . }}-gateway-auth
  labels:
    app: {{ template "renku.name" . }}-gateway-auth
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.gateway.service.type }}
  ports:
    - port: {{ .Values.gateway.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ template "gateway.name" . }}-revproxy
    release: {{ .Release.Name }}
---
apiVersion: v1
kind: Service
metadata:
  name: renku-traefik
  labels:
    app: {{ template "renku.name" . }}-gateway-revproxy
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.gateway.service.type }}
  ports:
    - port: {{ .Values.gateway.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ template "gateway.name" . }}-revproxy
    release: {{ .Release.Name }}
