[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dockerspawner = {git = "https://github.com/jupyterhub/dockerspawner", editable = true}
jupyterhub-kubespawner = "*"
nullauthenticator = "*"
oauthenticator = "*"
python-gitlab = "==1.5.1"
requests-oauthlib = "*"
docker = "*"
escapism = "*"

[dev-packages]

[requires]
python_version = "3.6"
