{{- if .Values.ingress.enabled -}}
{{- $keycloakEnabled := .Values.keycloakx.enabled -}}
{{- $keycloakFullname := include "keycloak.fullname" . -}}
{{- $keycloakServicePort := .Values.keycloakx.ingress.servicePort -}}
{{- $gitlabEnabled := .Values.gitlab.enabled -}}
{{- $gitlabFullname := include "gitlab.fullname" . -}}
{{- $gitlabServicePort := 80 -}}
{{- $uiFullname := include "ui.fullname" . -}}
{{- $uiServicePort := .Values.ui.client.service.port -}}
{{- $uiserverFullname := include "uiserver.fullname" . -}}
{{- $uiserverServicePort := .Values.ui.server.service.port -}}
{{- $graphEnabled := .Values.graph.enabled -}}
{{- $webhookServiceFullname := include "renku.graph.webhookService.fullname" . -}}
{{- $knowledgeGraphFullname := include "renku.graph.knowledgeGraph.fullname" . -}}
{{- $searchApiFullname := include "renku.search.searchApi.fullname" . -}}
{{- $renkuFullname := include "renku.fullname" . -}}
{{- if $graphEnabled }}
{{- $jenaFullname := include "renku-jena.fullname" . -}}
{{- $jenaServicePort := .Values.jena.service.port -}}
{{- end }}
{{- $swaggerEnabled := .Values.swagger.enabled -}}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "renku.fullname" . }}
  labels:
    app: {{ template "renku.name" . }}
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
        more_set_headers "Content-Security-Policy: frame-ancestors 'self' https://*.{{ .Values.global.renku.domain }} https://{{ .Values.global.renku.domain }}";
{{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
  - hosts:
    {{- range .hosts }}
    - {{ . }}
    {{- end }}
    secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ . }}
    http:
      paths:
      {{- if $keycloakEnabled }}
      - path: /auth
        pathType: Prefix
        backend:
          service:
            name: {{ $keycloakFullname }}-http
            port:
              name: {{ $keycloakServicePort }}
      {{- end }}
      - path: /gitlab
        pathType: Prefix
        backend:
          service:
            {{- if $gitlabEnabled }}
            name: {{ $gitlabFullname }}
            port:
              number: {{ $gitlabServicePort }}
            {{ else }}
            name: renku-traefik
            port:
              number: 80
            {{- end }}
      - path: /repos
        pathType: Prefix
        backend:
          service:
            name: renku-traefik
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: renku-traefik
            port:
              number: 80
      - path: /entities
        pathType: Prefix
        backend:
          service:
            name: renku-traefik
            port:
              number: 80
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ $uiFullname }}
            port:
              number: {{ $uiServicePort }}
      - path: /ui-server
        pathType: Prefix
        backend:
          service:
            name: {{ $uiserverFullname }}
            port:
              number: {{ $uiserverServicePort }}
      {{- if $graphEnabled }}
      - path: /webhooks/events
        pathType: Prefix
        backend:
          service:
            name: {{ $webhookServiceFullname }}
            port:
              number: 80
      - path: /knowledge-graph
        pathType: Prefix
        backend:
          service:
            name: {{ $knowledgeGraphFullname }}
            port:
              number: 80
      {{- end }}
      {{- if $swaggerEnabled }}
      - path: /swagger
        pathType: Prefix
        backend:
          service:
            name: {{ $renkuFullname }}-swagger
            port:
              number: 80
      {{- end }}
  {{- end }}
{{- end }}
