plantweb==1.2.1
sphinx>=4.1
sphinxcontrib-mermaid==0.8
sphinxcontrib-napoleon==0.7
sphinx-click==4.4.0
sphinx-copybutton==0.5.1
sphinx-panels
renku-sphinx-theme==0.2.2
sphinxcontrib-spelling==7.*
sphinxcontrib-websupport==1.2.4
./docs/renku-python
