apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "renku.fullname" . }}-data-service
  labels:
    app: renku-data-service
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  {{- if not .Values.dataService.autoscaling.enabled }}
  replicas: {{ .Values.dataService.replicaCount }}
  {{- end }}
  strategy: 
    {{- toYaml .Values.dataService.updateStrategy | nindent 4 }}
  selector:
    matchLabels:
      app: renku-data-service
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: renku-data-service
        release: {{ .Release.Name }}
        {{ .Values.global.redis.clientLabel | toYaml | nindent 8 }}
      {{- with .Values.dataService.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      automountServiceAccountToken: {{ .Values.global.debug }}
      initContainers:
        {{- include "certificates.initContainer" . | nindent 8 }}
      containers:
        - name: data-service
          image: "{{ .Values.dataService.image.repository }}:{{ .Values.dataService.image.tag }}"
          imagePullPolicy: {{ .Values.dataService.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            - name: VERSION
              value: {{ .Values.dataService.image.tag | quote }}
            - name: DB_HOST
              value: {{ template "postgresql.fullname" . }}
            - name: DB_USER
              value: {{ .Values.global.db.common.username }}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.db.common.passwordSecretName }}
                  key: password
            - name: KEYCLOAK_URL
              value: {{ (printf "%s://%s/auth/" (include "renku.http" .) .Values.global.renku.domain) | quote }}
            - name: KEYCLOAK_TOKEN_SIGNATURE_ALGS
              value: "RS256"
            - name: KEYCLOAK_CLIENT_ID
              value: {{ include "renku.dataService.keycloak.clientId" . | quote }}
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "renku.fullname" . }}
                  key: dataServiceKeycloakClientSecret
            - name: SERVER_DEFAULTS
              value: /etc/renku-data-service/server_options/server_defaults.json
            - name: SERVER_OPTIONS
              value: /etc/renku-data-service/server_options/server_options.json
            - name: K8S_NAMESPACE
              value: {{ .Release.Namespace | quote }}
            - name: GITLAB_URL
              value: {{ .Values.global.gitlab.url | quote }}
            - name: MAX_PINNED_PROJECTS
              value: {{ .Values.dataService.maxPinnedProjects | quote }}
            - name: REDIS_HOST
              value: {{ .Values.global.redis.host | quote }}
            - name: REDIS_PORT
              value: {{ .Values.global.redis.port | quote }}
            - name: REDIS_DATABASE
              value: {{ .Values.global.redis.dbIndex.events| quote }}
            - name: REDIS_IS_SENTINEL
              value: {{ .Values.global.redis.sentinel.enabled | quote }}
            - name: REDIS_MASTER_SET
              value: {{ .Values.global.redis.sentinel.masterSet | quote }}
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.redis.existingSecret }}
                  key: {{ .Values.global.redis.existingSecretPasswordKey }}
            - name: SENTRY_ENABLED
              value: {{ .Values.dataService.sentry.enabled | quote }}
            - name: SENTRY_DSN
              value: {{ .Values.dataService.sentry.dsn | quote }}
            - name: SENTRY_ENVIRONMENT
              value: {{ .Values.dataService.sentry.environment | quote }}
            - name: SENTRY_SAMPLE_RATE
              value: {{ .Values.dataService.sentry.sampleRate | quote }}
            - name: AUTHZ_DB_HOST
              value: {{ include "renku.fullname" . }}-authz
            - name: AUTHZ_DB_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "renku.fullname" . }}-authz
                  key: SPICEDB_GRPC_PRESHARED_KEY
            - name: AUTHZ_DB_GRPC_PORT
              value: "50051"
            {{- include "certificates.env.python" $ | nindent 12 }}
          volumeMounts:
            - name: server-options
              mountPath: /etc/renku-data-service/server_options
            {{- include "certificates.volumeMounts.system" . | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /api/data/version
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /api/data/version
              port: http
            initialDelaySeconds: 10
            periodSeconds: 2
            failureThreshold: 2
          startupProbe:
            httpGet:
              path: /api/data/version
              port: http
            periodSeconds: 5
            failureThreshold: 60
          resources:
            {{ toYaml .Values.dataService.resources | nindent 12 }}
    {{- with .Values.dataService.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.dataService.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.dataService.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        - name: server-options
          configMap:
            name: {{ template "renku.fullname" . }}-server-options
        {{- include "certificates.volumes" . | nindent 8 }}
      serviceAccountName: {{ template "renku.fullname" . }}-data-service
