apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "renku.fullname" . }}-data-service
  labels:
    app: renku-data-service
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  {{- if not .Values.dataService.autoscaling.enabled }}
  replicas: {{ .Values.dataService.replicaCount }}
  {{- end }}
  strategy: 
    {{- toYaml .Values.dataService.updateStrategy | nindent 4 }}
  selector:
    matchLabels:
      app: renku-data-service
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: renku-data-service
        release: {{ .Release.Name }}
        {{ .Values.global.redis.clientLabel | toYaml | nindent 8 }}
      annotations:
        # NOTE: Without this the pod will not restart when the secret values change.
        checksum/config: {{ include (print $.Template.BasePath "/notebooks/env-secret.yaml") . | sha256sum }}
      {{- with .Values.dataService.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      automountServiceAccountToken: {{ .Values.global.debug }}
      initContainers:
        {{- include "certificates.initContainer" . | nindent 8 }}
      containers:
        - name: data-service
          image: "{{ .Values.dataService.image.repository }}:{{ .Values.dataService.image.tag }}"
          imagePullPolicy: {{ .Values.dataService.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          envFrom:
            - secretRef:
                name: {{ template "renku.notebooks.fullname" . }}
          env:
            - name: VERSION
              value: {{ .Values.dataService.image.tag | quote }}
            - name: DB_HOST
              value: {{ template "postgresql.fullname" . }}
            - name: DB_USER
              value: {{ .Values.global.db.common.username }}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.db.common.passwordSecretName }}
                  key: password
            - name: KEYCLOAK_URL
              value: {{ (printf "%s://%s/auth/" (include "renku.http" .) .Values.global.renku.domain) | quote }}
            - name: KEYCLOAK_TOKEN_SIGNATURE_ALGS
              value: "RS256"
            - name: KEYCLOAK_CLIENT_ID
              value: {{ include "renku.dataService.keycloak.clientId" . | quote }}
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "renku.fullname" . }}
                  key: dataServiceKeycloakClientSecret
            - name: ENCRYPTION_KEY_PATH
              value: /secrets/encryptionKey/encryptionKey
            - name: SECRETS_SERVICE_PUBLIC_KEY_PATH
              value: /secrets/publicKey/publicKey
            - name: K8S_NAMESPACE
              value: {{ .Release.Namespace | quote }}
            - name: GITLAB_URL
              value: {{ .Values.global.gitlab.url | quote }}
            - name: MAX_PINNED_PROJECTS
              value: {{ .Values.dataService.maxPinnedProjects | quote }}
            - name: REDIS_HOST
              value: {{ .Values.global.redis.host | quote }}
            - name: REDIS_PORT
              value: {{ .Values.global.redis.port | quote }}
            - name: REDIS_DATABASE
              value: {{ .Values.global.redis.dbIndex.events| quote }}
            - name: REDIS_IS_SENTINEL
              value: {{ .Values.global.redis.sentinel.enabled | quote }}
            - name: REDIS_MASTER_SET
              value: {{ .Values.global.redis.sentinel.masterSet | quote }}
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.redis.existingSecret }}
                  key: {{ .Values.global.redis.existingSecretPasswordKey }}
            - name: SOLR_URL
              value: "http://{{ template "solr.fullname" . }}:{{ .Values.global.solr.port }}"
            - name: SOLR_CORE
              value: "renku-data"
            - name: SOLR_USER
              value: {{ default "admin" .Values.solr.auth.adminUsername | quote }}
            - name: SOLR_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "solr.fullname" . }}
                  key: solr-password
            - name: SENTRY_ENABLED
              value: {{ .Values.dataService.sentry.enabled | quote }}
            - name: SENTRY_DSN
              value: {{ .Values.dataService.sentry.dsn | quote }}
            - name: SENTRY_ENVIRONMENT
              value: {{ .Values.dataService.sentry.environment | quote }}
            - name: SENTRY_SAMPLE_RATE
              value: {{ .Values.dataService.sentry.sampleRate | quote }}
            - name: AUTHZ_DB_HOST
              value: {{ include "renku.fullname" . }}-authz
            - name: AUTHZ_DB_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "renku.fullname" . }}-authz
                  key: SPICEDB_GRPC_PRESHARED_KEY
            - name: AUTHZ_DB_GRPC_PORT
              value: "50051"
            - name: PROXIES_COUNT
              value: {{ .Values.dataService.trustedProxies.proxiesCount | default "" | quote }}
            - name: REAL_IP_HEADER
              value: {{ .Values.dataService.trustedProxies.realIpHeader | default "" | quote }}
            - name: IMAGE_BUILDERS_ENABLED
              value: {{ .Values.dataService.imageBuilders.enabled | quote }}
            - name: BUILD_OUTPUT_IMAGE_PREFIX
              value: {{ .Values.dataService.imageBuilders.outputImagePrefix | default "" | quote }}
            - name: BUILD_VSCODIUM_PYTHON_RUN_IMAGE
              value: {{ .Values.dataService.imageBuilders.vscodiumPythonRunImage | default "" | quote }}
            - name: BUILD_STRATEGY_NAME
              value: {{ .Values.dataService.imageBuilders.strategyName | default "" | quote }}
            - name: BUILD_PUSH_SECRET_NAME
              value: {{ .Values.dataService.imageBuilders.pushSecretName | default "" | quote }}
            - name: BUILD_RUN_RETENTION_AFTER_FAILED_SECONDS
              value: {{ .Values.dataService.imageBuilders.buildRunRetentionAfterFailedSeconds | default "" | quote }}
            - name: BUILD_RUN_RETENTION_AFTER_SUCCEEDED_SECONDS
              value: {{ .Values.dataService.imageBuilders.buildRunRetentionAfterSucceededSeconds | default "" | quote }}
            - name: BUILD_RUN_BUILD_TIMEOUT
              value: {{ .Values.dataService.imageBuilders.buildRunTimeoutSeconds | default "" | quote }}
            {{- with .Values.dataService.imageBuilders.nodeSelector }}
            - name: BUILD_NODE_SELECTOR
              value: {{ toJson . | quote }}
            {{- end }}
            {{- with .Values.dataService.imageBuilders.tolerations }}
            - name: BUILD_NODE_TOLERATIONS
              value: {{ toJson . | quote }}
            {{- end }}
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: SESSIONS_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: NB_SESSIONS__OIDC__CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ cat (include "renku.fullname" .) "-gateway" | nospace }}
                  key: notebooksClientSecret
            - name: NB_SESSIONS__GIT_PROXY__RENKU_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ cat (include "renku.fullname" .) "-gateway" | nospace }}
                  key: oidcClientSecret
            {{- include "certificates.env.python" . | nindent 12 }}
            {{- include "certificates.env.grpc" . | nindent 12 }}
          volumeMounts:
            - name: server-options
              mountPath: /etc/renku-notebooks/server_options
            - mountPath: "/secrets/encryptionKey"
              name: encryption-key
              readOnly: true
            - mountPath: "/secrets/publicKey"
              name: secret-service-public-key
              readOnly: true
            {{- include "certificates.volumeMounts.system" . | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /api/data/version
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /api/data/version
              port: http
            initialDelaySeconds: 10
            periodSeconds: 2
            failureThreshold: 2
          startupProbe:
            httpGet:
              path: /api/data/version
              port: http
            periodSeconds: 5
            failureThreshold: 60
          resources:
            {{ toYaml .Values.dataService.resources | nindent 12 }}
    {{- with .Values.dataService.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.dataService.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.dataService.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        - name: server-options
          configMap:
            name: {{ template "renku.fullname" . }}-server-options
        - name: encryption-key
          secret:
            secretName: {{ template "renku.fullname" . }}-secrets-storage
            items:
            - key: encryptionKey
              path: encryptionKey
        - name: secret-service-public-key
          secret:
            secretName: {{ template "renku.fullname" . }}-secret-service-public-key
            items:
            - key: publicKey
              path: publicKey
        {{- include "certificates.volumes" . | nindent 8 }}
      serviceAccountName: {{ template "renku.fullname" . }}-data-service
