<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level %logger{5} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="application" level="OFF" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="com.github.tomakehurst.wiremock" level="OFF"/>

    <root level="OFF">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>