apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "renku.fullname" . }}-secrets-storage
  labels:
    app: renku-secrets-storage
    chart: {{ template "renku.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  {{- if not .Values.secretsStorage.autoscaling.enabled }}
  replicas: {{ .Values.secretsStorage.replicaCount }}
  {{- end }}
  strategy: 
    {{- toYaml .Values.secretsStorage.updateStrategy | nindent 4 }}
  selector:
    matchLabels:
      app: renku-secrets-storage
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: renku-secrets-storage
        release: {{ .Release.Name }}
      {{- with .Values.secretsStorage.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      automountServiceAccountToken: {{ .Values.global.debug }}
      initContainers:
        {{- include "certificates.initContainer" . | nindent 8 }}
      containers:
        - name: secrets-storage
          image: "{{ .Values.secretsStorage.image.repository }}:{{ .Values.secretsStorage.image.tag }}"
          imagePullPolicy: {{ .Values.secretsStorage.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            - name: VERSION
              value: {{ .Values.secretsStorage.image.tag | quote }}
            - name: DB_HOST
              value: {{ template "postgresql.fullname" . }}
            - name: DB_USER
              value: {{ .Values.global.db.common.username }}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.db.common.passwordSecretName }}
                  key: password
            - name: KEYCLOAK_URL
              value: {{ (printf "%s://%s/auth/" (include "renku.http" .) .Values.global.renku.domain) | quote }}
            - name: KEYCLOAK_TOKEN_SIGNATURE_ALGS
              value: "RS256"
            - name: KEYCLOAK_CLIENT_ID
              value: {{ include "renku.dataService.keycloak.clientId" . | quote }}
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "renku.fullname" . }}
                  key: dataServiceKeycloakClientSecret
            - name: SECRETS_SERVICE_PRIVATE_KEY_PATH
              value: /secrets/privateKey/privateKey
            - name: PREVIOUS_SECRETS_SERVICE_PRIVATE_KEY_PATH
              value: /secrets/privateKey/previousPrivateKey
            {{- include "certificates.env.python" $ | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /api/secrets/version
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /api/secrets/version
              port: http
            initialDelaySeconds: 10
            periodSeconds: 2
            failureThreshold: 2
          startupProbe:
            httpGet:
              path: /api/secrets/version
              port: http
            periodSeconds: 5
            failureThreshold: 60
          resources:
            {{ toYaml .Values.secretsStorage.resources | nindent 12 }}
          volumeMounts:
            - mountPath: "/secrets/privateKey"
              name: secret-service-private-key
              readOnly: true
            {{- include "certificates.volumeMounts.system" . | nindent 12 }}
      volumes:
        - name: secret-service-private-key
          secret:
            secretName: {{ template "renku.fullname" . }}-secret-service-private-key
            items:
            - key: privateKey
              path: privateKey
            - key: previousPrivateKey
              path: previousPrivateKey
        {{- include "certificates.volumes" . | nindent 8 }}
    {{- with .Values.secretsStorage.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ template "renku.fullname" . }}-secrets-storage
