name: Build global base images

on:
  push:
    paths:
      - "global-images/**"
      - ".github/workflows/build-global-renkulab-images.yml"
    branches:
      - "**"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

env:
  DOCKER_PREFIX: ghcr.io/swissdatasciencecenter/renku

  RUN_IMAGE_AMD64: leafty/test:run-image-1763044425287
  BUILDER_IMAGE_AMD64: leafty/test:selector-1763044425287

  RUN_IMAGE_ARM64: salimkayal/test-arm:run-cu-0.1.0
  BUILDER_IMAGE_ARM64: salimkayal/test-arm:cuda-selector-builder-0.1.7

jobs:
  build-images:
    runs-on: ${{ matrix.PLATFORM == 'linux/arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    strategy:
      fail-fast: true
      matrix:
        PLATFORM:
          - linux/amd64
          - linux/arm64
        FLAVOR:
          - basic
          # - datascience
        FRONTEND:
          - jupyterlab
          # - vscodium
          # - ttyd
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_PREFIX }}/py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}
          tags: |
            type=sha,prefix=${{ matrix.PLATFORM == 'linux/arm64' && 'arm64' || 'amd64' }}-
      - name: Docker meta cache
        id: meta_cache
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_PREFIX }}/py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}-cache
          tags: |
            type=raw,value=${{ matrix.PLATFORM == 'linux/arm64' && 'arm64' || 'amd64' }}
      - name: Setup pack
        uses: buildpacks/github-actions/setup-pack@v5.9.3
      - name: Build image
        working-directory: ./global-images
        run: |
          BUILD_TAG=$(echo '${{ steps.meta.outputs.json }}' | jq -cr '.tags[0]')
          echo "BUILD_TAG=${BUILD_TAG}"
          CACHE_IMAGE=$(echo '${{ steps.meta_cache.outputs.json }}' | jq -cr '.tags[0]')
          echo "CACHE_IMAGE=${CACHE_IMAGE}"
          # publish only on pushes to master or release tags
          PUBLISH=1
          EXTRA_FLAGS=""
          if [[ "${GITHUB_REF}" == "refs/heads/master" ]]; then
            PUBLISH=1
          elif [[ "${GITHUB_REF}" =~ ^refs/tags/[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            PUBLISH=1
          fi
          [ "${PUBLISH:-}" = "1" ] && EXTRA_FLAGS="--publish --cache-image ${CACHE_IMAGE} --cache type=build;format=image;name=${CACHE_IMAGE}"
          echo "PUBLISH=${PUBLISH}"
          echo "EXTRA_FLAGS=${EXTRA_FLAGS}"

          pack build "${BUILD_TAG}" \
            -p "${{ matrix.FLAVOR }}" \
            --builder "${{ env.BUILDER_IMAGE_ARM64 }}" \
            --run-image "${{ env.RUN_IMAGE_ARM64 }}" \
            --env BP_RENKU_FRONTENDS="${{ matrix.FRONTEND }}" \
            --platform "${{ matrix.PLATFORM }}" \
            ${EXTRA_FLAGS}

      - name: Testing
        run: |
          BUILD_TAG=$(echo '${{ steps.meta.outputs.json }}' | jq -cr '.tags[0]')
          docker inspect "${BUILD_TAG}"

  combine-images:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
      matrix:
        FLAVOR:
          - basic
          # - datascience
        FRONTEND:
          - jupyterlab
          # - vscodium
          # - ttyd
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_PREFIX }}/py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}
          tags: |
            type=sha,prefix=
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/master' }}
            type=semver,pattern={{version}},event=tag
      - name: Docker meta amd64
        id: meta_amd64
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_PREFIX }}/py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}
          tags: |
            type=sha,prefix=amd64-
      - name: Docker meta arm64
        id: meta_arm64
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_PREFIX }}/py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}
          tags: |
            type=sha,prefix=arm64-
      - name: Combine images
        run: |
          TAG_ARGS=$(echo '${{ steps.meta.outputs.json }}' | jq -cr '.tags | map("--tag " + .) | join(" ")')
          echo "TAG_ARGS=${TAG_ARGS}"
          LINUX_AMD64_IMAGE=$(echo '${{ steps.meta_amd64.outputs.json }}' | jq -cr '.tags[0]')
          echo "LINUX_AMD64_IMAGE=${LINUX_AMD64_IMAGE}"
          LINUX_ARM64_IMAGE=$(echo '${{ steps.meta_arm64.outputs.json }}' | jq -cr '.tags[0]')
          echo "LINUX_ARM64_IMAGE=${LINUX_ARM64_IMAGE}"

          # publish only on pushes to master or release tags
          PUBLISH=1
          if [[ "${GITHUB_REF}" == "refs/heads/master" ]]; then
            PUBLISH=1
          elif [[ "${GITHUB_REF}" =~ ^refs/tags/[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            PUBLISH=1
          fi
          echo "PUBLISH=${PUBLISH}"

          if [[ "${PUBLISH:-}" = "1" ]]; then
            echo "Skipping"
            exit 0
          fi

          docker buildx imagetools create \
            "${TAG_ARGS}" \
            "${LINUX_AMD64_IMAGE}" \
            "${LINUX_ARM64_IMAGE}"
      
      - name: Testing
        run: |
          BUILD_TAG=$(echo '${{ steps.meta.outputs.json }}' | jq -cr '.tags[0]')
          docker inspect "${BUILD_TAG}"

      # - name: Combine images
      #   run: |
      #     TAG_ARGS=$(echo "${{ steps.meta.outputs.json }}" | jq -cr '.tags | map("--tag " + .) | join(" ")')
      #     echo "${TAG_ARGS}"
      #     LINUX_AMD64_IMAGE="py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}-amd64"
      #     LINUX_ARM64_IMAGE="py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}-arm64"
      #     docker buildx imagetools create \
      #     "${TAG_ARGS}" \
      #     "${LINUX_AMD64_IMAGE}" \
      #     "${LINUX_ARM64_IMAGE}" \
      #     --dry-run

      # - name: Build image
      #   run: |
      #     tags=$(echo "${{ steps.meta.outputs.tags }}" | tr '\n' ',')
      #     tags=${tags::-1}

      #     # publish only on pushes to master or release tags
      #     PUBLISH=0
      #     EXTRA_FLAGS=""
      #     if [[ "${GITHUB_REF}" == "refs/heads/master" ]]; then
      #       PUBLISH=1
      #     elif [[ "${GITHUB_REF}" =~ ^refs/tags/[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
      #       PUBLISH=1
      #     fi
      #     [ "${PUBLISH:-}" = "1" ] && EXTRA_FLAGS="--cache-image ${{ env.DOCKER_PREFIX }}/py-${{ matrix.FLAVOR }}-${{ matrix.FRONTEND }}-cache:latest"

      #     TAGS=$tags \
      #     FRONTEND=${{ matrix.FRONTEND }} \
      #     RUN_IMAGE=${{ env.RUN_IMAGE }} \
      #     BUILDER=${{ env.BUILDER_IMAGE }} \
      #     PUBLISH=$PUBLISH \
      #     EXTRA_FLAGS=$EXTRA_FLAGS \
      #     make -C global-images ${{ matrix.FLAVOR }}
