name: Check format for acceptance tests

on:
  pull_request:
  merge_group:
jobs:
  formatting-check:
    name: Scala formatting check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6
      - name: run scalafmt
        run: |
          cd acceptance-tests
          sbt scalafmtCheckAll
