name: Check acceptance tests dependencies and code

on:
  pull_request:
  merge_group:
jobs:
  formatting-check:
    name: Scala dependencies and code check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6
      - name: run test compile
        run: |
          cd acceptance-tests
          sbt 'Test / compile'
