name: Publish all merges to master

on:
  push:
    branches: ["master"]
    paths:
      - helm-chart/**
      - scripts/**
      - acceptance-tests/**
      - .github/**
  workflow_dispatch:

jobs:
  publish-chart:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@v3
        with:
          version: '3.8.0'
        id: setup-helm
      - id: get-latest-version
        run: |
          helm repo add renku https://swissdatasciencecenter.github.io/helm-charts/
          helm repo update
          LATEST_VERSION=$(helm search repo renku --devel -o json | jq -r '.[] | select(.name == "renku/renku") | .version' | cut -d'.' -f1-3)
          echo "latest_version=${LATEST_VERSION}" >> $GITHUB_OUTPUT
      - uses: actions-ecosystem/action-bump-semver@v1
        id: bump-semver
        with:
          current_version: ${{ steps.get-latest-version.outputs.latest_version }}
          level: prerelease
      - id: set-version
        run: |
          echo "publish_version=${{ steps.bump-semver.outputs.new_version }}.$(echo ${{ github.sha }} | cut -c 1-7)" >> $GITHUB_ENV
      - uses: SwissDataScienceCenter/renku-actions/publish-chart@v1.11.0
        env:
          CHART_DIR: helm-chart/
          CHART_TAG: "--tag ${{env.publish_version}}"
          CHART_NAME: renku
          GIT_USER: renku-bot
          GIT_EMAIL: renku@datascience.ch
          DOCKER_USERNAME: ${{ secrets.RENKU_DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.RENKU_DOCKER_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.RENKUBOT_GITHUB_TOKEN }}
      - uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: job,ref
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: `${process.env.AS_JOB} version ${{ env.publish_version }}: ${{ job.status }}.`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
      - uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: ${{ env.publish_version }}
          message:
            "${{ env.publish_version }}: PR #${{
            github.event.pull_request.number }} ${{
            github.event.pull_request.title }}"
