name: Publish helm chart

on:
  push:
    tags: ["*"]
  workflow_dispatch:

jobs:
  publish-chart:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set version
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
      - uses: SwissDataScienceCenter/renku-actions/publish-chart@v1.8.4
        env:
          CHART_DIR: helm-chart/
          CHART_NAME: renku
          GIT_USER: chart-bot
          GIT_EMAIL: chart-bot@example.com
          DOCKER_USERNAME: ${{ secrets.RENKU_DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.RENKU_DOCKER_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.RENKUBOT_GITHUB_TOKEN }}
      - uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: job,ref
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: `${process.env.AS_JOB} version ${{ steps.vars.outputs.tag }}: ${{ job.status }}.`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
    outputs:
      chart-version: ${{ steps.vars.outputs.tag }}
  rollout-renku-deployments:
    runs-on: ubuntu-20.04
    needs:
      - "publish-chart"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Rollout renku version
        uses: SwissDataScienceCenter/renku-actions/rollout-renku-version@v1.8.4
        env:
          CHART_VERSION: ${{ needs.publish-chart.outputs.chart-version }}
          GITHUB_TOKEN: ${{ secrets.RENKUBOT_GITHUB_TOKEN }}
