name: label PRs
on:
  pull_request:
    types:
    - opened
    - closed

jobs:
  pr-labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: TimonVS/pr-labeler-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.RENKU_CI_TOKEN }}
