name: Test Renku-dev release
on:
  repository_dispatch:
    types: [HelmRelease/renku.renku]
jobs:
  run-tests-dev:
    if: ${{ github.event.client_payload.metadata.summary == 'renku-dev' &&
      github.event.client_payload.message == 'Helm test succeeded' }}
    runs-on: ubuntu-20.04
    steps:
      - uses: SwissDataScienceCenter/renku-actions/test-renku@v1.9.0
        with:
          kubeconfig: ${{ secrets.RENKUBOT_DEV_KUBECONFIG }}
          renku-release: renku
          gitlab-token: ${{ secrets.DEV_GITLAB_TOKEN }}
          s3-results-access-key: ${{ secrets.ACCEPTANCE_TESTS_BUCKET_ACCESS_KEY }}
          s3-results-secret-key: ${{ secrets.ACCEPTANCE_TESTS_BUCKET_SECRET_KEY }}
          test-timeout-mins: "80"

  run-tests-dev-cypress:
    if: ${{ github.event.client_payload.metadata.summary == 'renku-dev' &&
      github.event.client_payload.message == 'Helm test succeeded' }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: cypress-io/github-action@v5
        id: cypress
        env:
          TEST_EMAIL: renku@datascience.ch
          TEST_PASSWORD: ${{ secrets.RENKU_BOT_DEV_PASSWORD }}
          TEST_FIRST_NAME: Renku
          TEST_LAST_NAME: Bot
          TEST_USERNAME: renku-test
          BASE_URL: https://ci-renku-${{ github.event.number }}.dev.renku.ch
        with:
          browser: chrome
          working-directory: cypress-tests
      # NOTE: cypress screenshots will be generated only if the test failed
      # thus we store screenshots only on failures
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress-tests/cypress/screenshots
          retention-days: 7
      # Cypress test video is always captured, so this action uses "always()" condition
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-videos
          path: cypress-tests/cypress/videos
          retention-days: 3
